<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
        <h1>Mongo Products</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/products">Products</a></li>
          </ol>
        </nav>

        <a href="/save"><button type="button" class="btn btn-primary">Generate Products</button></a>
        <a href="/delete"><button type="button" class="btn btn-primary">Delete Products</button></a>
      </div>
  </body>
</html>